main {
  flex:1;
  width:100%;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
}

@media(max-width: 650px){
  main ul {
    grid-template-columns: 1fr;
  }

}

#app main {
  margin-left: 30px;
}

@media(max-width: 700px){

  #app main {
    margin-left: 0px;
    margin-top: 30px;
  }

  #app aside {
    width:100%;
  }

}